a:hover {
    text-decoration: none;
    color: white;
}
article.video-container {
    position: relative;
}
i#theater-mode{
	display:none!important;
}
.chapter-body-content {
    background-color: #F8F8F8;
}

.chapter-body-content .head-content {
  background: #1C2530;
  font-weight: 400;
  font-size: 13.5px;
  text-transform: uppercase;
  color: #C1CDD9;
  letter-spacing: 1.65px;
  text-align: left;
  padding-top: 26px;
}

.head-content .container {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 991px) {
  .head-content .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 991px) {
  .chapter-body-content .head-content .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.head-content h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 28px;
  margin-top: 8px;
  color: #FFFFFF;
  text-transform: none;
}

.head-content h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 8px;
  color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  .chapter-body-content {
    min-height: 100%;
  }
}

.chapter-body-content .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}

.chapter-body-content .row {
  margin-right: 0;
  margin-left: 0;
}

#research_tab, #scientists_tab {
  display: none;
}

.nav-tabs .nav-item {
  padding: 5px 6px;
  border: 1px solid #CCC;
}

.nav-tabs .nav-item.active {
  background: #CCC;
  color: #FFF;
}

.row.breadcrumbs {
  background: #191919;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 3%;
  padding-right: 3%;
}
.row.breadcrumbs a {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  color: #ffffff;
  text-transform: none;
  display: inline-block;
  position: relative;
  padding-left: 18px;
}
.row.breadcrumbs a:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 6px;
  height: 6px;
  background: url(/img/back-tick.svg) no-repeat top left/6px;
}
.row.breadcrumbs a:hover {
  text-decoration: none;
}

.lesson .lesson-thumb img {
  max-width: 100%;
}

.lesson a:hover .lesson-thumb:after {
  transform: scale(1.2);
}

.lesson .lesson-title {
  font-weight: bold;
  font-size: 18px;
}

.chapters-list {
  margin-left: 0;
  margin-right: 0;
}

.chapters-list .tab {
  padding-top: 22px;
}

.table-contents .chapters-list h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #ABB0B6;
  padding-top: 50px;
  margin-bottom: 21px;
}
@media screen and (max-width: 600px) {
  .table-contents .chapters-list h2 {
    padding-top: 20px;
  }
}

.chapters-list .container {
  padding-left: 0;
  padding-right: 0;
}


@media screen and (max-width: 991px) {
  .chapters-list .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.chapter-body-content .lesson {
  border-radius: 5px;
  border: 1px solid #C5D9F1;
  padding-bottom: 22px;
}
@media screen and (min-width: 992px) {
  .chapter-body-content .lesson {
    margin-bottom: 42px;
  }
}

.chapter-body-content .chapter {
  display: flex;
  flex-wrap: wrap;
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
}
.chapter-body-content .chapter:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.chapter-body-content .chapter:hover .chapter-link {
  background: #1668E0;
  color: white;
}
@media screen and (min-width: 992px) {
  .chapter-body-content .chapter {
    margin-bottom: 21px;
  }
}

.chapter .chapter-link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
  padding-left: 8.2%;
  padding-right: 8.2%;
  transition-property: background, color;
  transition-duration: 0.35s;
  position: relative;
}
.chapter .chapter-link:hover {
  text-decoration: none;
}

.chapter .chapter-title {
  width: 68.3%;
  display: flex;
  align-items: center;
}

.chapter .chapter-image {
  width: 31.7%;
}
.chapter .chapter-image img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.chapter-body-content .lesson {
  background: #ffffff;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 991px) {
  .chapter-body-content .lesson {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .chapter-body-content .lesson {
    margin-left: 0.875%;
    margin-right: 0.875%;
    width: 32.1666666667%;
    max-width: 32.1666666667%;
  }
  .chapter-body-content .lesson:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .chapter-body-content .lesson:nth-of-type(3n) {
    margin-right: 0;
  }
}

.chapter-body-content .chapter {
  background: #ffffff;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 991px) {
  .chapter-body-content .chapter {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .chapter-body-content .chapter {
    margin-left: 0.875%;
    margin-right: 0.875%;
    width: 49.125%;
    max-width: 49.125%;
  }
  .chapter-body-content .chapter:nth-of-type(odd) {
    margin-left: 0;
  }
  .chapter-body-content .chapter:nth-of-type(even) {
    margin-right: 0;
  }
}

.lesson-thumb {
  width: 100%;
  position: relative;
}

.lesson-thumb .lesson-progress {
  position: absolute;
  width: 23px;
  height: 23px;
  overflow: hidden;
  border-radius: 23px;
  background: #6A6767;
  top: 10px;
  right: 10px;
}
.lesson-thumb .lesson-progress.lesson-progress-0:after {
  background-color: #026EEC;
  width: 23px;
  height: 23px;
}
.lesson-thumb .lesson-progress:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 19px;
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #6A6767 url(/img/table-contents-play.svg) no-repeat calc(50% + 1px) center/9px;
}

.lesson-thumb .segment {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.lesson-desc {
  font-size: 15px;
  color: #666666;
  text-align: left;
  line-height: 24px;
  padding-left: 5%;
  padding-right: 5%;
}

.lesson-thumb img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.lesson-title {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 18px;
  margin-top: 8px;
}

.lesson-title a {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-align: left;
}
.core-chapter-page .nav {

}
.nav-tabs {
  width: 100%;
  border-bottom: none;
}

.nav-tabs .nav-item {
  background: rgba(226, 232, 238, 0.09);
  border: none;
  text-transform: uppercase;
  font-size: 13.5px;
  color: #9BA6B5;
  letter-spacing: 1.65px;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 400;
}
.nav-tabs .nav-item.active {
  color: #1C2530;
  background: #F8F8F8;
  border-top: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 5px solid #1668E0;
}
@media screen and (min-width: 601px) {
  .nav-tabs .nav-item {
    margin-left: 0.875%;
    margin-right: 0.875%;
    width: 32.1666666667%;
  }
  .nav-tabs .nav-item:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .nav-tabs .nav-item:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .nav-tabs .nav-item {
    width: 100%;
  }
}

/* Notes section */
/* Vidoe & Lesson */
.lesson-top {
  background-color: #1d2530;
  color: #f9feff;
  line-height: 23px;
}

/*.lesson-top .row, .lesson-bottom .row {
	margin-left: 0;
	margin-right: 0;
}*/
h3.video-title {
  padding:30px 0;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin:0;
}

h3.video-title .prev-lesson, h3.video-title .next-lesson {
  width: auto;
}

.lesson-top .title-cont {
  width: calc(100% - 115px);
}

.lesson-top .col-lg-8 {
  padding-left: 0;
  padding-right: 0;
  min-height: 0px;
}

.lesson-container > .container {
  max-width: none;
  padding-right: 0;
  padding-left: 0;
}
.video-meta a.button{
	background-color:#03ca7e;
	transition:background-color 0.1s ease-in;
}
.video-meta a.button.hollow{
	border-color:#03ca7e;
    padding: 5px 0;
}
.video-meta a.button:hover{
	box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
	background-color:#03ca7e;
}

@media screen and (max-width: 991px) {
  .lesson-container.special-case {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 992px) {
  .lesson-container.special-case > .container {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .lesson-container.special-case > .container .lesson-top {
    width: 33.33333%;
    order: 2;
    padding-left: 15px;
  }
}

@media screen and (min-width: 992px) {
  .lesson-container.special-case > .container .lesson-bottom {
    width: 66.666667%;
    order: 1;
  }
}

.lesson-container.special-case .lesson-text-content {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.lesson-container.special-case .lesson-top {
  background: transparent;
}
@media screen and (max-width: 991px) {
  .lesson-container.special-case .lesson-top {
    padding-top: 0 !important;
  }
}

.lesson-container.special-case .lesson-top .video-origin, .lesson-container.special-case .lesson-top .notes-origin {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.lesson-container.special-case .lesson-top .notes-origin {
  margin-top: 15px;
}

.lesson-container.special-case .transcript-link {
  border-color: #026EEC;
  color: #026EEC;
}

.lesson-container.special-case .transcript-link:not(.button):before {
  background: url(/img/close-icon-blue.svg) no-repeat center center/9px;
  border-color: #026EEC;
}

.lesson-container.special-case .transcript-link .fa-comment:before {
  background: url(/img/talk-bubble-blue.svg) no-repeat center center/15px;
}

.lesson-container.special-case .notes-link .fa-pencil-alt:before {
  background: url(/img/pencil-blue.svg) no-repeat center center/15px;
}

.lesson-container.special-case .notes-link {
  border-color: #026EEC;
  color: #026EEC;
}

.lesson-container.special-case .video-meta {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 82px;
  left: 0;
  width: 100%;
  z-index: 99;
  animation: slideIn 0.2s;
}

.lesson-container.special-case .video-meta > .next-lesson, .lesson-container.special-case .video-meta > .prev-lesson {
  width: auto;
}

.lesson-container.special-case h3.video-title {
  display: none;
}

.notes-origin {
  min-height: 0;
}
@media screen and (max-width: 991px) {
  .notes-origin {
    padding-top: 15px;
  }
}

span.button {
  border: 1px solid #FFF;
  border-radius: 20px;
}

span.button.hollow {
  background-color: transparent;
}

.transcript-link i, .notes-link i {
  padding-right: 7px;
}

.lesson-bottom {
  background-color: #e3e8ee;
  color: #707070;
  padding-bottom: 100px;
}

.lesson-bottom h3, .lesson-bottom h5 {
  color: #000;
}

.lesson-text-content {
  padding: 20px 4%;
  background-color: #FFF;
  position: relative;
}

.lesson-text-content p {
  font-size: 16px;
  color: #666666;
  line-height: 27px;
}

.lesson-text-content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.review-concepts {
  padding: 30px 15px;
}
@media screen and (max-width: 991px) {
  .review-concepts {
    padding-left: 0;
    padding-right: 0;
  }
}

i.contents-link {
  display: inline-block;
  position: relative;
  margin: 0 5px 0 4px;
  cursor: pointer;
  padding-left: 30px;
  /* height: 16px; */
}
i.contents-link:before {
  content: "";
  width: 26px;
  height: 16px;
  background: url(/img/table-contents.svg) no-repeat center center/26px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

span.contents-link {
  font-size: 9px;
  display: inline-block;
  cursor: pointer;
  padding-left: 6px;
  line-height:14px;
}

.video-title {
  display: flex;
}
.navbar .video-title {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #191919;
  margin-bottom: -15px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  padding-left: 1.5%;
  padding-right: 1.5%;
  animation: slideIn 0.4s;
}
.navbar .video-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 95%;
  height: 20px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(11px);
}

.navbar .title-cont {
  display: none;
}

.review-concepts .video-player {
  animation: slideIn 0.4s;
  position: relative;
  z-index: 3;
  padding-top: 180px;
  margin-bottom: 15px;
}
@media screen and (max-width: 991px) {
  .review-concepts .video-player {
    padding-top: 0;
    margin-top: 0 !important;
  }
}

.review-concepts .notes-wrapper {
  animation: slideIn 0.4s;
}

.video-player video {
  width: 100%;
}

.video-meta {
  background-color: #191919;
  padding: 0;
  margin-top: -7px;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  padding-left: 1.9%;
  padding-right: 1.9%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.references-toggle{
	cursor:pointer;
}
.references-toggle i {
    border-radius: 50%;
    border: 2px solid;
    padding: 2px;
    font-size: 12px;
	-webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}



.video-meta a {
  color: #777;
  font-weight: 400;
  font-size: 11.5px;
  color: #8B8B8B;
  letter-spacing: 0;
  text-align: right;
  text-decoration: none;
}

.prev-lesson, .next-lesson {
  font-size: 16px;
  color: #FFFFFF;
  width: 50%;
}
.prev-lesson a, .next-lesson a {
  font-size: 11.5px;
  color: #8B8B8B;
  letter-spacing: 0;
}

.prev-lesson {
  padding-top: 10px;
  padding-bottom: 10px;
}

.next-lesson {
  text-align: right;
  padding-bottom: 10px;
  padding-top: 10px;
}

#transcript {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  height: 300px;
}
.special-case #notes, .special-case #transcript {
  height: 300px !important;
}
@media screen and (max-width: 991px) {
  #notes, #transcript {
    height: 300px !important;
  }
}

.special-case .cke_contents {
  height: 300px !important;
}
@media screen and (max-width: 991px) {
  .special-case .cke_contents {
    height: 300px !important;
  }
}

@media screen and (max-width: 991px) {
  .lesson-container .cke_contents {
    height: 300px !important;
  }
}

#transcript {
  padding: 10px;
}

.table-of-contents-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: transparent;
  border-radius: 5px;
  color: white;
  width: 107px;
  height: 28px;
}

.table-of-contents .table-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
}

.table-of-contents .contents-link i.contents-link {
  margin-right: 3%;
  transform: translateY(-4px);
}

.table-of-contents .contents-link a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1.47px;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 21px;
  background: #212121;
  cursor: pointer;
}
.table-of-contents .contents-link a:hover {
  text-decoration: none;
}

.table-of-contents {
  width: 50%;
  position: absolute;
  z-index: 12;
  background-color: #000;
  color: #FFF;
  right: 0;
  font-size: 16px;
  max-width: 300px;
}
.video-title .table-of-contents {
  width: 580px;
  max-width: 100%;
}
.navbar .table-of-contents {
  left: 50%;
  top: 0;
  right: inherit;
  transform: translateX(-50%);
}

.table-of-contents h2 {
  font-size: 16px;
}

.table-of-contents .chapter-title {
  padding: 10px 5%;
  cursor: pointer;
  border-bottom: 4px solid #212121;
}
.table-of-contents .chapter-title h2 {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1.47px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.table-of-contents .segment {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.table-of-contents .lesson-progress {
  position: relative;
  overflow: hidden;
  width: 23px;
  height: 23px;
  background: #6A6767;
  font-size: 0;
  border-radius: 23px;
  margin-right: 8px;
  margin-top: 2px;
}
.table-of-contents .lesson-progress:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 19px;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  background: #6A6767 url(/img/table-contents-play.svg) no-repeat calc(50% + 1px) center/9px;
}

.table-of-contents .lesson-progress-0:after {
  background-color: #026EEC;
  width: 23px;
  height: 23px;
}

.table-of-contents .chapter-container {
  padding: 5px 0 5px 20px;
  background-color: #212121;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.table-of-contents .chapter-container a {
  color: #FFF;
  display: flex;
  padding: 5px 0;
  font-size: 15.5px;
  color: #FFFFFF;
  text-align: left;
  line-height: 27px;
  font-weight: 400;
  padding-left: 10%;
  padding-right: 10%;
}
.table-of-contents .chapter-container a:hover {
  background-color: #3b3b3b;
  text-decoration: none;
}

.table-of-contents .unit-title {
  padding-left: 0;
  padding-right: 0;
}

.table-of-contents .unit-title.current {
  background-color: #3b3b3b;
}

.table-of-contents .unit-title sub{
  bottom:-1.75em;
}


.table-of-contents .closebar {
  padding: 5px;
  background: #026eec url(/img/table-contents-close.svg) no-repeat calc(100% - 10px) center/25px;
  color: #FFF;
  text-align: right;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  font-size: 0;
  height: 31px;
}
.student-dash .table-of-contents .closebar {
  background: #026eec;
}

#transcript {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #cedae8;
  color: #000;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 13px;
}

.video-player video {
  background-size: 100%;
}

.concept {
  background-color: #FFF;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: table;
}

.concept div {
  font-weight: bold;
}

.concept img {
  width: 100%;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.concept-image {
  padding: 0 !important;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: table-cell;
  width: 50%;
}

.concept-title {
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: table-cell;
  vertical-align: middle;
  color: #000;
}

.jove_player #player_0_container{
	background-size:100%;
}
.chapter-header-content .breadcrumbs {
  background: #191919;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 3%;
  padding-right: 3%;
}
.chapter-header-content .breadcrumbs a {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  color: #ffffff;
  text-transform: none;
  display: inline-block;
  position: relative;
  padding-left: 18px;
}
.chapter-header-content .breadcrumbs a:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 6px;
  height: 6px;
  background: url(/img/back-tick.svg) no-repeat top left/6px;
}
.chapter-header-content .breadcrumbs a:hover {
  text-decoration: none;
}
.hidden{
	display:none;
}
span.transcript-link, span.notes-link,a.pdf-button,a.embed,a.share,a.favorite,a.textbook-link {
    width: 100%;
    display: block;
    font-weight: 400;
    padding: 7px 0;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    color: #FFFFFF!important;
    letter-spacing: 1.47px;
    border-width: 2px;
}
div.table-of-contents .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    right: 15px;
    top: 50%;
    height: 0;
    position: absolute;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
#transcript p{
	font-size:13px;
}
#transcript br {
    display: none;
}
.share-button img {
    width: 50px;
}
.share-wrapper {
    background: #FFF;
    padding: 10px;
    z-index:999;
    margin-left: 33%;
    margin-top: -70px;
}

.share-wrapper[data-browser*='Windows NT 10.0; WOW64;']{
  margin-left:-218px!important;
}

.prev-lesson, .next-lesson {
    flex-grow: 1;
}

.references-toggle.open i{
	-webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.video-meta a.button {
    width: 23%;
	margin-top:10px;
}
.core-header-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media screen and (max-width: 860px) {
    .core-header-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 530px) {
	.video-meta a.button {
		width: 100%;
	}
}
.chapter-body-content .chapter-header-content {
  background: #1C2530;
  font-weight: 400;
  font-size: 13.5px;
  text-transform: uppercase;
  color: #C1CDD9;
  letter-spacing: 1.65px;
  text-align: left;
}

.head-content .container {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 991px) {
  .head-content .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 991px) {
  .chapter-body-content .head-content .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.head-content h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 28px;
  margin-top: 8px;
  color: #FFFFFF;
  text-transform: none;
}

.head-content h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 8px;
  color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  .chapter-body-content {
    min-height: 100%;
  }
}

.chapter-body-content .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}

.chapter-body-content .row {
  margin-right: 0;
  margin-left: 0;
}
.chapters-list .tab {
  padding-top: 22px;
}

.table-contents .chapters-list h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 1px solid #ABB0B6;
  padding-top: 50px;
  margin-bottom: 21px;
}
@media screen and (max-width: 600px) {
  .table-contents .chapters-list h2 {
    padding-top: 20px;
  }
}

.chapters-list .container {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 991px) {
  .chapters-list .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.chapter-body-content .lesson {
  border-radius: 5px;
  border: 1px solid #C5D9F1;
  padding-bottom: 22px;
}
@media screen and (min-width: 992px) {
  .chapter-body-content .lesson {
    margin-bottom: 42px;
  }
}

.chapter-body-content .chapter {
  display: flex;
  flex-wrap: wrap;
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
}
.chapter-body-content .chapter:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.chapter-body-content .chapter:hover .chapter-link {
  background: #1668E0;
  color: white;
}
@media screen and (min-width: 992px) {
  .chapter-body-content .chapter {
    margin-bottom: 21px;
  }
}

.chapter .chapter-link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
  padding-left: 8.2%;
  padding-right: 10.2%;
  transition-property: background, color;
  transition-duration: 0.35s;
  position: relative;
}
.chapter .chapter-link:hover {
  text-decoration: none;
}

.chapter .chapter-title {
  width: 68.3%;
  display: flex;
  align-items: center;
}

.chapter .chapter-image {
  width: 31.7%;
}
.chapter .chapter-image img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.chapter-body-content .lesson {
  background: #ffffff;
  padding-left: 0;
  padding-right: 0;
}
div.lesson-text-content h4 {
  letter-spacing: 0.35px;
  color: #666;
  margin-top: 25px;
  line-height: 27px;
}
.references-toggle {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .chapter-body-content .lesson {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .chapter-body-content .lesson {
    margin-left: 0.875%;
    margin-right: 0.875%;
    width: 32.1666666667%;
    max-width: 32.1666666667%;
  }
  .chapter-body-content .lesson:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .chapter-body-content .lesson:nth-of-type(3n) {
    margin-right: 0;
  }
}

.chapter-body-content .chapter {
  background: #ffffff;
  padding-left: 0;
  padding-right: 0;
}
.subscription_block_holder {
    margin: 0;
    background: #0040AE;
    background: linear-gradient(to right, #0040ae 0%, #0f6dd2 52%, #0040ae 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0040ae', endColorstr='#0040ae',GradientType=1 );
    padding: 4.5%;
}
.subscription_block_holder .subscription_block_text h2 {
    font-size: 23px;
	color: #FFF;
    display: block;
    font: bold 26px/1.2 "futura-pt",sans-serif;
    letter-spacing: .4px;
    margin: 0;
    text-align: center;
    text-transform: none;
}
.subscription_block_holder .subscription_block_text p#temp_access_msg{
	color: #FFF;
    display: block;
    font: 18px/1.4 "kepler-std",sans-serif;
    text-align: center;
}
.subscription_block_holder .main_content{
	width:100%;
	background:transparent;
}
.subscription_block_holder form#trial_registration select{
    font: 16.5px/1.4 "kepler-std",sans-serif;
	color:#404040;
}
.subscription_block_holder form#trial_registration input[type="button"]{
	background: #03ca7e;
    border: 2px solid #03ca7e;
    border-radius: 50px;
    color: #fff;
	font-size:12px;
	font-weight:400;
}
#splash-top:hover ~ .jove_player .flowplayer, .flowplayer:hover {
	background-size:105%;
}

/*
.flowplayer.se .fp-menu.fp-subtitle-menu a{
	width:50%;
	display:inline-block;
}
.flowplayer.se .fp-subtitle-menu{
	width:15em!important;
}
.flowplayer .fp-menu.fp-active{
	bottom:2.6em;
}*/
.subscription_block_holder p, .subscription_block_holder p a{
	color:#FFF;
}
.chapter-body-content .lesson-title a {
    font-weight: bold;
    font-size: 18px;
}
#masthead #fixed-position-header-main .fixed-position-header-right .fixed-position-header-signin #signin_container a.button{
  color:#03ca7e;
}
p.granted {
    line-height: 24px;
}

span.transcript-link.button.hollow {
    line-height: 22px;
}
#overlay-access .access-left{
	line-height:20px;
}

ul#overlay-captions-list li{
	padding:0;
	font-weight:400;
	font-size:16px;
}
.fp-cc .fp-menu li{
	padding:0.02em 1em;
	font-size:16px;
	font-weight:400;
    line-height: 40px;
}
.solutions-dropdown-content a:hover{
	color:#FFF;
	text-decoration:none;
}
.jove-header-wrapper .header-link:hover{
	text-decoration:none;
}
/*
.chapter.free .chapter-title:before {
  content:'';
  position:absolute;
  top:0;
  right:5px;
  width:23px;
  height:25px;
  background-image:url('/img/unlock.png');
  background-size:cover;
  z-index:3;
}

.chapter.free .chapter-title:after {
    content: 'Unlocked for review';
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 14px;
    font-style: italic;
    color: #757575;
}*/
div.lesson-text-content h4 {
    font-size: .95em;
    font-weight: bold;
    color: #333;
}
div.lesson-text-content .references-toggle strong{
  font-size:17px;
}
.flowplayer{
  border-radius:0;
}
#content.site-content {
    /* padding-top:0px!important; */
}
@media screen and (min-width: 601px){
  .nav-tabs .nav-item {
    width:49.125%;
  }
  .nav-tabs .nav-item:nth-of-type(2){
    margin-right:0;
  }
}
@media screen and (max-width: 991px) {
  p#access{
    margin-top:20px;
  }
}


@media screen and (max-width: 991px) {
  .chapter-body-content .chapter {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) {
  .chapter-body-content .chapter {
    margin-left: 0.875%;
    margin-right: 0.875%;
    width: 49.125%;
    max-width: 49.125%;
  }
  .chapter-body-content .chapter:nth-of-type(odd) {
    margin-left: 0;
  }
  .chapter-body-content .chapter:nth-of-type(even) {
    margin-right: 0;
  }
}

a.video-popup-link.button{
  margin: -40% 19.5% 0;
}
@media screen and (max-width: 1400px){
	a.video-popup-link.button{
		width:98%;
		margin:-40% .5% 0;
	}
}

/*VOICEOVER PROJECT CSS*/
.voice-over-wrap {
    position: relative;
    z-index: 2;
}
.voice-over-wrap .voice-over-translate {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    height: 40px;
    line-height: 25px;
    cursor: pointer;
    padding: 8px 15px;
    background-color: #4193F4;
    border-radius: 3px;
	text-align:center;
	width:100%;
	display:inline-block;
}
.voice-over-wrap .voice-over-translate span {
    color: #fff;
}
.voice-over-wrap .translation-menu {
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 2;
    list-style: none;
    background-color: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(204,204,204,.4);
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 3px;
	margin-top: 7px;
    display: none;
}
.translation-menu li {
    padding: 10px;
    margin: 0;
    font-weight: normal;
    line-height: 16px;
}
.translation-menu li:hover {
    background-color: #efefef;
}
.translation-menu a {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
}

.head-content .container .voice-over-wrap{
	width:48%;
	/*margin:auto;*/
}
.head-content .container .voice-over-wrap a{
  text-transform:none;
}
header.entry-header .left-content .voice-over-wrap{
	width:25%;
  text-transform: none;
}
.voice-over-wrap i.far.fa-chevron-down {
    padding-left: 15px;
    color:#FFF;
}
.notranslations{
  color:#F93F5E;
  font-size:14px;
  text-transform:none;
  width:100%;
  text-align:center;
  line-height: 25px;
  padding-top: 20px;
}
.subscription-card-btn {
    background: #4193F4;
    font-size: 18px;
    padding: 11px 17px;
    border-radius: 2px;
    border-style: none;
    margin-bottom: 5px;
    width: 155px;
    margin-left: 23px;
}
.access-right p#access {
    line-height: 24px;
}
#overlay-access .access-left{
	min-width:100px;
}
.lesson-text-content img {
    max-width: 100%;
}

.lesson-text-content a:hover {
    text-decoration: none;
    color: #4193F4;
}
.lesson-text-content table {
	border-collapse:collapse;
	font-size: 16px;
    color: #666666;
    text-align: left;
    line-height: 27px;
}
.lesson-text-content ul li, .lesson-text-content ol li{
	font-size: 16px;
    color: #666666;
    text-align: left;
    line-height: 27px;
}
.core-voiceover-disclaimer {
	width: 100%;
	background-color: rgba(255,255,255,0.1);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 14px;
	padding: 10px;
    margin: 10px 0;
}
.core-article-switch-btn {
	border-radius: 16px;
	background-color: #03CA7F;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 16px;
	text-align: center;
	padding: 8px 33px;
	width: 100%;
}
.core-article-title.jove-flex {
	flex-wrap: wrap;
}
.core-article-title.jove-flex h3 {
	flex: 1 0 calc(60% - 10px);
	margin-right: 10px;
}
.core-article-title.jove-flex .core-article-switch {
	flex: 1 0 40%;
}
.core-article-title .text-disabled {
	display: none;
}
.core-article-text .text-disabled {
	display: none;
}
a.button.create-quiz-btn {
    background-color: transparent;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    border: 2px solid #03ca7e;
    padding: 7px 0;
    text-align: center;
    letter-spacing: 1.47px;
    width: 100%;
    display: block;    
}
a.button.create-quiz-btn:hover {
    box-shadow: none;
    background-color: #03ca7e;
}
@media screen and (max-width: 990px) {
    .notranslations{
        padding-top: 0px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 800px) {
	header.entry-header .left-content .voice-over-wrap{
		width:50%;
		margin-left:10px;
	}
}
@media screen and (max-width: 525px) {
    .translation-button-group .translation-button {
        width: 80px;
    }
}
/**translation */
.translation-button-group {
	margin-top: .25rem;
	margin-bottom: .25rem;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	vertical-align: middle;
	width: 100%;
}
.translation-button-group .translation-button {
	position: relative;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	cursor: pointer;
	font-weight: 400;
	width: 25%;
	min-width: 80px;
	color: #FFF;
	text-transform: capitalize!important;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: 0.45px!important;
	padding: .25rem .25rem;
	font-size: 13px;
	line-height: 1.5;
	background: rgba(0,0,0,0.6);
	border: 1px solid rgba(128,128,128,0.25);
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.article-voice-group .translation-button-group .translation-button {
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	width: 33.33%;
}
.translation-button-group .translation-button.active {
	background: #01CA7E;
	color: #FFFFFF;
}
.translation-button-group .translation-button:not(.active):hover, .translation-button-group .translation-button:not(.active):active {
	background: #37906e;
	color: #FFFFFF;
}
@media screen and (max-width: 525px) {
	.translation-button-group .translation-button {
		width: 70px;
	}
}
@media screen and (max-width: 480px) {
	.access-right p#access {
    	line-height: 12px;
	}
	p#access {
    	margin-top: 0px;
	}
	.access-right p{
		font-size: 10px;
	}
}

/****/
