
#mast-head.is-home-page .mobile #nav-logo{display:block;}
@media only screen and (min-width:750px) and (max-width:4000px) {
	.d_none{
		display:none!important;
	}	
}
@media only screen and (max-width: 750px) {
	.hamburger-dropdown-content{min-width:100%;}
	.mob_d_none{
		display: none!important;
	}
	.jove-footer,.jove-footer .sub-menu-panel {
    	background-color: #00040F;
	}
.sub-menu-panel{
    background-color: inherit;
}
.jove-footer .footer-hr{
    border-top: 1px solid rgba(204, 204, 204, 0.5);
}
.browse-search{
    padding: 0px 20px;
    color:#FFFFFF;
        height: 170px;
}
.jove-footer ul li {
    margin: 0px;
}
form #q {
    background: #171923;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: white;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    display: block;
    height: 100%;
    padding: 10px 22px 10px 50px!important;
    width: 100%;
    box-sizing: border-box;
    text-align:left;
}
.search_bar::placeholder { 
    color: #fff;
    opacity: 0.8; 
}
.mobile-header form input[type="text"]{padding: 10px 40px !important;}
form .search_button {
    background: url(/img/header/search-white.svg) center center/18px no-repeat;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    text-align: left;
    text-indent: -10000px;
    right: 11px;
    cursor: pointer;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}
.section-button-inner{
    width:50%;
    float:left;
    font-weight: 600;
}
.section-category-button.research{
   background-image: linear-gradient(to right, #042285 , #044DA7);
}
.section-category-button.education{
   background-image: linear-gradient(to right, #008859 , #00BC91);
   box-shadow: #041912c9 0px 12px 14px -1px;
   float: right;
   border-color: #00A376;
}
.section-button{
    margin-top: 25px;
    width: 100%;
}
.section-category-button{
	width: 95%;
	padding: 10px 22px;
    border-radius: 3px;
	box-shadow: #011146 0px 12px 14px -1px;
    cursor: pointer;
    border: 1px solid #011146;
}
span.section-text {
    width: 95%;
    font-size: 14px;
    text-transform: uppercase;
}
span.section-icon {
    width: 5%;
    float: right;
    font-size: 12px;
    line-height: 18px;
}
span.section-icon i{
    font-weight:100;
}
.footer-hr {
    border-top: 1px solid #151821 !important;
}
.last-sub-menu{
    text-align:center;
}
.footer-button {
    border: 1px solid #151821;
    padding: 12px;
    margin-top: 10px;
    border-radius: 30px;
    color: #ffffff;
    display: inline-block;
    width: 80%;
    text-align: left;
    font-size: 12px;
}

li.sn a{
 border: 0.6px solid #151821 !important;
}
.footer-button-main{
    text-align:center;
}
.footer-button-main span.section-text{
    width: 95%;
    font-size: 14px;
}
.footer-button-main span.section-icon{
    width: 5%;
    float: right;
}
.footer-button-main i{
    font-size:18px;
    font-weight:100;
    float: right;
}
.jove-footer .sub-menu-head .sub-menu-title {
    font-size: 14px;
}
.footer-button a{
    margin:0px;
}

.footer-privacy{
    display:flex;
    justify-content: center;
    font-size: 12px;
     padding: 15px 0px;
     color:#ffffff;
     font-weight: 800;
}
.footer-privacy ul li {
  float: left;
  padding: 0px 7px;
  
}
.footer-privacy ul{
    padding-top: 15px;
}
.herizontal-dotted-separator {background-image:none;font-size: 10px !important;letter-spacing: 0.9px !important;font-style: italic;}
.home-page-mobile-article .mobile .section-button{color:#ffffff;}

.home-page-mobile-article{
	background-image: linear-gradient(120deg, #041C6D 10%, #01040F 75%);
}
.mobile-header{
	background-image: linear-gradient(to bottom, #041C6D, #041C6D);
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 8px;
        position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.home-page-mobile-article{
	padding-top: 60px !important;
}
.mobile.mobile-header form #q {background-color:#ffffff;}
.mobile.mobile-header form #q::placeholder {
    color: black;
}

.mobile .jove-header-container .site-title a {
	width: 60px;
}
.mobile .jove-header-container{justify-content: space-between;}
.mobile .mobile-header-hamburger{
    text-align: center;
    border-radius: 50px;
    margin-left: 5px;
    color:#ffffff;
    background:transparent;
    width: 40px;
    height: 40px;
    line-height: 48px;
}
.mobile.is-home-page .mobile-header-hamburger{
    background:#162B71;
}
.mobile .mobile-header-hamburger i{font-size: 16px;margin:auto;}
.home-page-mobile-article .home-page-article img{width:100%;height:auto;}
.home-page-article-title {
    font-size: 20px;
    padding: 12px 0px;
    font-weight: bold;
    color: #fff;
    line-height: 34px;
}
.home-page-article {
    padding: 0 0 34px;
}
.mobile-author-button{width:28%;}
.mobile-author-button {
    font-size: 8px;
    background-color: #27221A;
    padding: 8px 10px;
    text-align: center;
    border-radius: 12px;
    color:#F4B300;
    letter-spacing: 1px;
    font-weight: 600;
	width:100px;
	justify-content: center;
}
.mobile-author-button span{
	display:inline-block;
	margin-top:3px;
}

.mobile-author-button i{margin-right: 6px;font-weight: 500; font-size:15px;}
.home-page-mobile-article div.mobile{height: 60px;}
.hamburger-dropdown-content{
	background-color:#fff;
	color:#01040F;
	padding: 0px;
    padding-top: 45px;
}
.hamburger-dropdown-content #nav-mobile-country-preference .cur-country-preference{
	border: 1px solid #01040F;
	margin-right:60px;
	margin-top:9px;
}
.mobile-menubar-section {
    width: 100%;
    margin-bottom: 50px;
   
}
.mobile-menubar-section-color,.mobile-menubar-section-item-color {
    width: 3%;
    float: left;
}
.mobile-menubar-section-text,.mobile-menubar-section-item {
    width: 100%;
    font-size: 1.75em;
    padding: 17px 10px 0px 0px;
    font-weight: bold;
}
.mobile-menubar-section-text span{float:right;}
.mobile-menubar-section.research .mobile-menubar-section-color{
	background-image: linear-gradient(to bottom, #044DA7 ,#044DA7);
	padding: 30px 0px;
	-webkit-box-shadow: 5px 5px 15px 5px #044da7;
    box-shadow: 2px 3px 11px 1px #044da7;
}
.mobile-menubar-section.education .mobile-menubar-section-color{
	background-image: linear-gradient(to bottom, #00BC91 ,#00BC91);
	padding: 30px 0px;
	-webkit-box-shadow: 5px 5px 15px 5px #00BC91;
    box-shadow: 2px 3px 11px 1px #00BC91;
}
.mobile-menubar-section-item a{color:#27221A !important;}
.mobile-menubar-section-item a {
    font-size: 15px;
    padding: 15px 0px;
    color: #40465E !important;
}
.mobile-menubar-section-item a i{font-weight: 500;}
.mobile-menubar-section-item span.item_section{
	font-size: 14px;
    color: #979797 !important;
    font-weight: 400;
}

.mobile-menubar-section{
	border-left:10px solid #044da7;
	border-image: 
    linear-gradient(
      to bottom, 
      #077FC5, 
      #044da7
    ) 1 100%;
}

.mobile-menubar-section.education{
	border-color:#00BC91;
		border-image: 
    linear-gradient(
      to bottom, 
      #00B88C, 
      #00BC91
    ) 1 100%;
	
}

.mobile-menubar-section-item a i{color: #0B68D8 !important;float: right;margin: 10px 5px !important;}
.mobile-menubar-section-item {display:none;}
.mobile-menubar-login-button {
    background: #F5F6F7;
    padding: 10px 25px;
    border-radius: 36px;
    font-size: 1.2em;
    margin: 10px 10px;
    width:92%;
}
.mobile-menubar-login-button span{padding-left: 20px;}
.mobile-menubar-login-button a,.mobile-menubar-footer a, .mobile-menubar-login-button a i{color: #50556B!important; font-weight:bold;}
.mobile-menubar-footer{margin: 100px 0px;
    font-size: 1.8em;}
.mobile-menubar-footer a {
    padding: 18px 15px;
	font-size:18px;
	border-top: 1px solid #f1f1f1;
}
.mobile-menubar-footer a i{
	color:#50556B!important;
}
.mobile-menubar-footer a span {
    padding-left: 20px;
    font-size: 18px;
}
.mobile-header input#q{color:#01040F}
.mobile-header.science-edu-landing-page{background: #00734D;} 

.mobile-header.is-home-page .header-mobile-search-box{ width:90%; margin:auto;display:block !important;margin-top: 3px;}
.mobile-header .landing-page-heading{width:60%;margin:auto;color: #03C77D;
    font-weight: 500;
    }
    .landing-page-heading span {
    padding: 10px;
    color: #408871;
}
.mobile-header .landing-page-search-icon{margin:auto;font-size: 18px;}
.mobile-header .landing-page-search-icon i{font-size: 25px;}
.mobile-header .mobile-header-hamburger i{font-size: 25px;;font-weight:100}
.mobile-header #nav-mobile-hamburger{}

.mobile-header.is-home-page .landing-page-heading,.mobile-header.is-home-page .landing-page-search-icon{display:none;}
.mobile-header.science-edu-products-page,.mobile-header.core-subject-page{background: #01040F;}
.mobile-header.eoe-landing-page #nav-logo{display:none;}
.mobile-header.journal-landing-page .landing-page-heading{color: #F8F8F8;}
.mobile-header.science-edu-subject-page,.mobile-header.research-subject-page-header,.mobile-header.methods-collections-page{background: #ffff;}
.mobile-header.science-edu-landing-page .jove-header-container .site-title a {
    background: url(/img/logos/jove-logo-white-green.svg) left center/contain no-repeat;
}
.mobile-header.science-edu-subject-page .jove-header-container .site-title a {
    background: url(/img/logos/jove-logo-black-green.svg) left center/contain no-repeat;
}
.mobile-header.research-subject-page-header .jove-header-container .site-title a,.mobile-header.methods-collections-page .jove-header-container .site-title a {
    background: url(/img/logos/jove-logo-black.svg) left center/contain no-repeat;
}
.mktb-banner {top: 58px !important;}
.mobile-header.methods-collections-page .landing-page-search-icon i,.mobile-header.methods-collections-page .mobile-header-hamburger,.mobile-header.science-edu-subject-page .landing-page-search-icon i,.mobile-header.science-edu-subject-page .mobile-header-hamburger,
.mobile-header.research-subject-page-header .landing-page-search-icon i,.mobile-header.research-subject-page-header .mobile-header-hamburger,.mobile-header.research-subject-page-header .landing-page-heading{color:#0B68D8}
.footer-sm.blue-footer,.footer-sm.blue-footer .sub-menu-panel{background-color:#0B68D8}
.footer-sm.blue-footer .footer-hr {
    border-top: 1px solid #65a0e8 !important;
}
.footer-sm.blue-footer li.sn a{
	border: 0.6px solid #65a0e8 !important;
}
.footer-sm.blue-footer .footer-button{
	border: 1px solid #65a0e8;
}

.header-mobile-search-box form i{
	position: fixed;
    color: #041C6D !important;;
    z-index: 2;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 400;
}
.footer-sm .browse-search form i{
	position: absolute;
    z-index: 2;
    padding: 10px 25px;
    font-size: 18px;
    color: white;
}
.jove-footer a{
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
    font-weight: 500;
}
.jove-footer .footer-privacy a{
    text-transform: capitalize;
}
.mobile-menubar-section-items {
    border-top: 1px solid #e1e1e1;
    margin-top: 17px;
}
.mobile-menubar-sections {
    margin-top: 50px;
}
.mobile-menubar-footer a i.far{
    margin: 0px;
}

i.far.fa-graduation-cap{
    padding-right:16px;
}
i.far.fa-house{
    padding-right:16px;
}
.green_white_logo .jove-header-container .site-title a{background: url(/img/logos/jove-logo-white-green.svg) left center/contain no-repeat;}
.green_black_logo .jove-header-container .site-title a{background: url(/img/logos/jove-logo-black-green.svg) left center/contain no-repeat;}
.blue_black_logo .jove-header-container .site-title a{background: url(/img/logos/jove-logo-black.svg) left center/contain no-repeat;}
.blue_white_logo .jove-header-container .site-title a{background: url(/img/logos/jove-logo-white.svg) left center/contain no-repeat;}
.green_background{background: #00734D;}
.white_background{background: #ffffff;}
.black_background{background: #01040F;}
.blue_text .landing-page-heading{color:#0B68D8}
.white_text .landing-page-heading{color:#ffffff}
.blue_icons .landing-page-search-icon i,.blue_icons .mobile-header-hamburger{color:#0B68D8}

.loginmodal-content {
    width: 80vw;
    height: 40vh;
    margin: 60% auto;
}
.loginmodal-content p{
    margin-top: 10vh;
}
}
