  /* Color EMAC 
#434e52 > #92B2C8
#e0ecec > #E6F0FA
*/

/* ===== EMAC ===== */
@import url('https://fonts.googleapis.com/css?family=Muli');

/* Surcharges */
html {
    font: 1em "Muli", Verdana, Helvetica, sans-serif;
}
.default #header, .sco #header {
    background: url(../img/tpl/back-top-straight.svg) no-repeat top;
    background-size: 100% 60px;
    padding: 0 150px 0 300px;
}
.default #header h1 img, .sco #header h1 img {
    display: inline-block;
    margin: 0 0.5em;
    max-height: 40px;
    vertical-align: middle;
    width: auto;
}
section.hBk.article.home, .home #navigation a, .home #navigation a.btnScormResume  {
    background-color: rgba(146, 178, 200, 0.7);
}
.home section.article .hBk_co .logo{
    top:5%;
    bottom:inherit;
}
.default #header h1, .sco #header h1{
    text-align:left;
    display: flex;
    align-items: center;
    padding-top: 0;
    height: 48px;
}
div.scImgGalOver, div.scImgZmOver, div.scImgSeqOver {
    background-color: #fff;
}
a.scImgGalBtnCls, a.scImgZmBtnCls, a.scImgSeqBtnCls {
    background-color: #92B2C8;
    border-radius: 50%;
    font-size: 1.5em;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

/* SVG inline */
.resSvgInline_ul svg {
	max-width: 100px;
	height: auto;
}

/* Icones Menu */
.default.module li.simulationUc > div::before, .default.tools li.simulationUc a::before {
    background: url("../img/content/blocks.svg") no-repeat scroll transparent 0 -180px / 20px auto;
    height: 20px;
    width: 20px;
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
}
.default.tools #content .plan li.simulationUc a, .default.tools #content .plan li.assmntUa a {
    padding-left: 25px;
    position: relative;
}
.default.module li.assmntUa > div::before, .default.tools li.assmntUa a::before{
    background: url("../img/content/menu-bullet-quiz.svg") no-repeat scroll transparent 0 0 / 20px auto;
    height: 20px;
    width: 20px;
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
}

/* Liens */
a {
    color: #92B2C8;
    text-decoration: none;
}

.pageLink:hover,
.exo_ti a:hover,
.plan a:hover,
.credits a:hover {
    text-decoration: underline;
}

.blocks_cosinus>a {
    color: #92B2C8;
    margin: 0 1em;
    text-decoration: none;
}

/* Balise Pedago */
.basic_co{
    background-color: rgba(230, 240, 250, 0.5);
    background-image: linear-gradient(to right, #92B2C8 0%, rgba(0, 0, 0, 0) 100%);
}
.basic_ti i.type {
    color: #92B2C8;
}
.qa_ti i.type {
    background-position: 0 -430px;
}

.ans a {
    text-decoration: none;
    color: #92B2C8;
}

a.ans_closed::before {
    content: "⇕"
}

a.ans_closed:hover::before {
    content: "⬍";
}

a.ans_open::before {
    content: "⬍"
}

a.ans_open:hover::before {
    content: "⇕";
}

/* Générique */
.credits .hBk>h2.hBk_ti::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.cadre_liste,
.cadre_texte {
    border-radius: 5px;
    box-shadow: 0 0 5px #92B2C8;
    margin: 1em 0;
    padding: 1em;
}

.titremetadonnee {
    font-weight: bold;
    text-align: center;
}

.elt_liste {
    margin: 0.5em;
    text-align: center;
}

.elt_liste_puce {
    display: list-item;
    margin-left: 2em;
}

.credits table {
    border-collapse: collapse;
    font-size: 0.9em;
}

.credits table td {
    padding: 0.2em 0.5em;
    text-align: center;
}

.credits .table_3cols,
.credits .table_4cols {
    margin: 20px auto;
    width: 100%;
}

.credits table tr.even {
    background-color: #E6F0FA;
}

.credits table tr.odd {
    background-color: #E6F0FA;
}

.credits .courriel::before {
    content: "\e80a";
    font-family: "fontello";
}

.credits .courriel:hover {
    text-decoration: none;
    opacity: 0.7;
}

.credits .bloc_logos {
    text-align: center;
}

.credits .bloc_logos>a {
    margin: 0 1em;
}

/* Groupe de module */
.plan_ueGroup {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.plan_ueGroup .module {
    margin: 0.5em 0;
}

.creditsLink {
    background: rgba(0, 0, 0, 0) url("../img/content/buttons.svg") no-repeat scroll center top / 100% auto;
    box-sizing: border-box;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    margin-right: 0.5em;
    width: 20px;
    vertical-align: middle;
}

.creditsLink>span {
    display: none;
}

/* Nomenclature */
.op_txt_ul.tooltip_nm_ul::after {
    content: "";
}

.tooltip_nm_ul {
    border-bottom: 1px dotted;
    display: inline-block;
}

.tooltip_nm_ul .MathJax_SVG_Display {
    margin: 0;
}

.tooltip_nm {
    background-color: #E6F0FA;
    border: 2px solid #92B2C8;
}

.tooltip_nm_ti {
    background-color: #92B2C8;
    min-height: 20px;
    color: #ffffff;
    text-align: center;
    padding-right: 20px;
}

.tooltip_nm_x {
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding-left: 16px;
    overflow: hidden;
    background: url(../img/content/buttons.svg) no-repeat top;
    background-size: 100%;
    background-position: 0 -32px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.opac_defTxt_tim_form {
    display: inline-block;
}

table.nomenclature td,
table.nomenclature th {
    border: 1px solid #E6F0FA;
    padding: 0.5em;
}

table.nomenclature {
    border-collapse: collapse;
}

table td.symb {
    border-right: none;
    padding-right: 0;
}

table td.info {
    border-left: none;
    padding-left: 0;
}

.tooltip_nm_a {
    display: inline-block;
    background: url("../img/content/buttons.svg") no-repeat;
    width: 20px;
    cursor: pointer;
}

/* PDF BUTTON */
.default #tools {
    display: flex;
}

.default #tools .pdfBtn {
    background: rgba(0, 0, 0, 0) url("../img/tpl/menu-tools.svg") no-repeat scroll 0 -640px / 100% auto;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    margin: 4px 4px 0 1em;
    width: 40px;
    text-decoration: none;
}

.scorm #tools .pdfBtn,
.scorm #tools .lbl {
    margin-left: 0.5em;
}

/* Resources importantes */
.res .important {
    border: 2px solid #92B2C8;
    border-radius: 5px;
}

/* SubWin */
body.subWin {
    margin: 0;
    overflow: auto;
    padding: 0 1em;
}

/* Foot note */
#content {
    counter-reset: footNoteNum;
}

.noteTooltip_fra {
    background-color: #E6F0FA;
    border: 2px solid #92B2C8;
    padding: 1ex;
}

a.footNoteNum::before {
    content: "["counter(footNoteNum, decimal) "]";
    counter-increment: footNoteNum;
    font-size: 0.7em;
    vertical-align: top;
}

a.footNoteNum span {
    display: none;
}

/* See Also */
.also {
    margin-top: 2em;
}

.also>a {
    border-bottom: 1px solid #92B2C8;
}

.also>a::before {
    font-family: "fontello";
    margin-right: 5px;
}

.also>a.also_closed::before {
    content: "\f0fe";
}

.also>a.also_open::before {
    content: "\f146";
}

.comment {
    color: #999;
}

.also p {
    margin: 0.2em;
}

/* Plan et liste */
#content .plan a {
    padding: 5px 0;
}

#content .plan ul.plan {
    padding: 0;
}

#content .plan li,
#content section.simu .cosinus_co .cosinus,
#content section.qa .q_a_co .q_a,
#content section.exo .exo_co .exo,
#content div.credits .credits,
#content div.credits .resCredits {
    border-left: 1px solid #92B2C8;
    margin: 0 1.2em;
}

#content .plan ul li div::before,
#content .cosinus_co .cosinus_ti>span::before,
#content .q_a_co .q_a_ti>span::before,
#content .exo_co .exo_ti>span::before,
#content .credits_ti>span::before,
#content .resCreditsLnk>span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    bottom: 50%;
    width: 0.75em;
    border: 1px solid #92B2C8;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

#content .plan ul>li:last-child,
#content section.simu .cosinus_co .cosinus:last-child,
#content section.qa .q_a_co .q_a:last-child,
#content section.exo .exo_co .exo:last-child,
#content div.credits .credits:last-child,
#content div.credits .resCredits:last-child {
    border-left: 1px solid transparent;
}

#content .cosinus_ti,
#content .exo_ti,
#content .q_a_ti,
#content .credits_ti {
    color: black;
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    min-height: 24px;
    padding: 1px 0 1px 22px;
    position: relative;
}

#content .resCreditsLnk {
    padding-left: 20px;
    position: relative;
    display: block;
}

.cosinus_co,
.q_a_co,
.exo_co,
.credits_co {
    padding: 0 10px;
}

#content .cosinus_ti>span,
#content .q_a_ti>span,
#content .exo_ti>span,
#content .credits_ti>span {
    display: block;
    margin-bottom: 3px;
    min-height: 24px;
    padding: 2px 5px 5px;
}

div.credits .legalInfo {
    margin-left: 20px;
    color: gray;
    display: block;
}

div.credits .credits_co>.legalInfo {
    margin-top: -12px;
    margin-bottom: 10px;
}

.blocks_cosinus,
.blocks_co_qa_tools {
    border: 1px dashed #92B2C8;
    padding: 0 1em 1em;
}

.blocks_cosinus .title_cosinus,
.blocks_co_qa_tools .question_ti {
    color: #92B2C8;
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
}

.op_listingTxt_p {
    text-align: left;
}

/* === STOP - LANGS ======================================================== */
.langs {
    position: absolute;
    right: 5px;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
}

.langs .lang {
    margin: 0 0.2em;
}

.langs .lang * {
    display: block;
    background: url("../img/tpl/flag.svg") no-repeat;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.langs .lang a:hover {
    opacity: 0.7;
}

.langs .lang.fr {
    order: 1;
}

.langs .lang.en {
    order: 2;
}

.langs .lang.es {
    order: 3;
}

.langs .lang.ar {
    order: 4;
}

.langs .lang.fr>a {
    background-position: 5px 5px;
}

.langs .lang.es>a {
    background-position: 5px -45px;
}

.langs .lang.en>a {
    background-position: 5px -95px;
}

.langs .lang.ar>a {
    background-position: 5px -145px;
}

.langs .lang.fr>span {
    background-position: 5px -195px;
}

.langs .lang.es>span {
    background-position: 5px -245px;
}

.langs .lang.en>span {
    background-position: 5px -295px;
}

.langs .lang.ar>span {
    background-position: 5px -345px;
}

.langs .lang * span {
    position: absolute;
    left: -9999px;
}

.langs .lang>span {
    background-color: #E6F0FA;
    border-radius: 0 0 30px 30px;
}

/* === STOP - LANGS ======================================================== */