
/* - ploneCustom.css - */
@media all {
/* https://planet-terre.ens-lyon.fr/portal_css/ploneCustom.css?original=1 */
@media screen and (max-width : 800px) {
.informaltable .title-figure a.link {
display: block;
}
}
.dossier-related li{
display:block;
}
#searchresults{
display:block;
}
.template-searchfacets #portal-searchfacets{
background:none;
float:none;
}
#portal-searchfacets dt{
white-space:normal;
}
.searchResults.listeResults .highlightedSearchTerm{
border-bottom:dotted 1px #b92227;
color:#b92227;
font-weight:bolder;
}
.template-searchfacets #portal-breadcrumbs{
display:none;
}
.template-searchfacets div#portal-column-content2 .width-3\:4.position-1\:4{
width: 72.75% !important;
float:right;
}
input#search-metnav {
height: 29px;
padding-left: 10px;
vertical-align: top;
border: none;
border-radius: 4px 0 0 4px;
background: #efefef;
float: left;
outline: none;
font-family: arial, sans-serif;
}
.template-searchfacets div.width-1\:4{
width:22.75%;
}
div.author::before{
content:"Auteur(s) / Autrice(s) :"
}
#alertInfo{
color:red;
}
}

